name: ubuntu

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        qt-version: ['5.15.0', '6.0.4']
        # In qt6.1+, moc/uic/rcc binaries have been move from usr/bin to usr/libexec

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Installing Qt${{matrix.qt-version}} ubuntu
      uses: jurplel/install-qt-action@v4
      with:
        version: ${{matrix.qt-version}}
        cache: true
        cache-key-prefix: 'qt-action@v4-Qt${{matrix.qt-version}}_ubuntu'

    - name: set path
      run: |
         echo PATH=$PATH:`pwd`
         echo PATH=$PATH:`pwd` >> $GITHUB_ENV
         echo QT_DIR=$QT_ROOT_DIR
         echo QT_DIR=$QT_ROOT_DIR >> $GITHUB_ENV

    # CMake
    - name: build with cmake
      run: |
        mkdir cmake-build
        cd cmake-build
        cmake -DCMAKE_BUILD_TYPE=Release .. && cmake --build .

    # Premake
    - uses: Jarod42/install-premake5@v6

    - name: build with premake
      run: |
        premake5 gmake --qt-version=${{matrix.qt-version}} && cd solution/gmake && make config=release_x64

#
#    - name: install libxkbcommon-x11-0 # display dependency
#      run: sudo apt-get install libxkbcommon-x11-0
#
#    - name: run
#      timeout-minutes: 5 # tends to not stop properly in case of failure
#      run: | # fake X-server as Qt widget requires displays :/
#        # Cannot use environment variable ($QT_ROOT_DIR) in command line, so use environment variable (QT_DIR) or its hardcoded value
#        xvfb-run -a ./app
#
